*
{
	margin: 0px;
	padding: 0px;
    outline: none;
    text-decoration: none;
}

html
{
	background: linear-gradient(to right, #00FFFF,#FFFFFF,#00FFFF);
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	vertical-align: middle;
	font-size: 1.2em;
	height: 100%;
}

body
{
	display: block;
	min-height: 100%;
	text-align: center;
	margin: 2.5% auto;
	padding-right: 5px;
}

/* HEADERS */

h1, h2, h3, h4, h5, h6
{
	margin: 10px 0px;
	text-align: center;
}

/* PARAGRAPHS */

p
{
	padding: 5px;
}

/* WIDTH */

.width-33
{
	width: 33%;
}

.width-50
{
	width: 50%;
}

.width-67
{
	width: 67%;
}

.width-100
{
	width: 96%;
}

/* ROUND BORDERS */

.round
{
	border-radius: 20px;
	margin: 20px 0px;
}

.round-tiny
{
	border-radius: 10px;
	margin: 10px 0px;	
}

.round-top
{
	display: block;
	margin-top: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.round-bottom
{
	display: block;
	margin-bottom: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.round-left
{
	margin-left: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.round-left-tiny
{
	margin-left: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.round-right
{
	margin-right: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.round-right-tiny
{
	margin-right: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

@media all and (orientation: portrait) {

	.width-33, .width-50, .width-67, .width-100
	{
		width: 96%;
	}
}

@media only screen and (min-width: 890px) {
	.responsive-left
	{
		margin-right: -2px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		height: 500px;
	}

	.responsive-right
	{
		margin-left: -2px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		height: 500px;
	}
}

@media only screen and (min-width: 768px) {

	.vertical
	{
		display: none;
	}

	.horizontal > td, th
	{
		width: 25%;
	}
}

@media only screen and (max-width: 889px) {
	.responsive-left
	{
		display: block;
		margin: auto;
		width: 85%;
		max-width: 700px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		text-align: center;
	}

	.responsive-right
	{
		display: block;
		margin: auto;
		width: 85%;
		max-width: 700px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.horizontal
	{
		display: none;
	}

	.vertical > td, th
	{
		width: 50%;
	}
}


/* TABLES */

table, tr
{
	min-width: 100%;
}

.info > * > * > td, .info > * > * > th
{
	width: 25%;
}


/*.narrow
{
	width: 10%;
}*/

.info
{
	font-size: 0.6em;
}

/* COLUMNS */

.column
{
	display: inline-block;
	vertical-align: top;
	margin: 0px -2px;
}

.column-cell > *
{
	width: auto;
}

.column-cell, body>form
{
	background: linear-gradient(to right, #FFFF88,#FFFFFF,#FFFF88);
	background-color: #BBFFFF;
	display: inline-block;
	width: 92%;
	padding: 2%;
	vertical-align: top;
	box-shadow: 2px 2px 2px 2px black;
}

.width-50 > .column-cell
{
	min-width: 150px;
	max-width: 400px;
}

/* FORMS */

form
{
	min-width: 150px;
	max-width: 400px;
}

label
{
	display: inline-block;
	margin: 0.25em;
	width: 30%;
	max-width: 150px;
	font-size: 1em;
	text-align: right;
}

input
{
	font-size: 1em;
}

input:hover
{
	background: none;
	background-color: white;
}

input:focus
{
	background: linear-gradient(#FFFF88,#FFFFFF,#FFFF88);
}

input[type='text'], input[type='email'], input[type='password']
{
	background: linear-gradient(to right, #FFFFFF,#FFFF88);
	width: 60%;
	padding: 0.25em;
	border-radius: 20px;
}

input[type='number']
{
	line-height: 400%;
	text-align: center;
	font-size: 1.75em;
	padding: 0px;
}

input[type='submit'], button
{
	font-size: 2em;
	padding: 10px;
}

select
{
	font-size: 1.25em;
}

/* BUTTONS */

#skill, #exp, #points, #ratio
{
	display: inline;
	width: auto;
}

#get-skill, #get-exp, #get-points, #get-ratio
{
	font-size: 0.7em;
	padding: 5px;
}

.btn
{
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px 2px black;
}

.btn:hover, .btn:focus, .btn:active
{
	background: linear-gradient(#FFFFFF,#FFFF88);
	background-color: #FFFF88;
}

.btn-red:hover, .btn-red:focus, .btn-red:active
{
	border: 1px solid #660000;
	color: #660000;
}

.btn-green:hover, .btn-green:focus, .btn-green:active
{
	border: 1px solid #006600;
	color: #006600;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active
{
	border: 1px solid #000066;
	color: #000066;
}

.btn-green
{
	background: linear-gradient(#006600,#003300);
	background-color: #006600;
	border: 1px solid #006600;
	color: white;
}

.btn-red
{
	background: linear-gradient(#660000,#330000);
	background-color: #660000;
	border: 1px solid #660000;
	color: white;	
}

.btn-blue
{
	background: linear-gradient(#000066,#000033);
	background-color: #000066;
	border: 1px solid #000066;
	font-size: 0.5em;
	color: white;
}

/* MESSAGES */
.error
{
	background-color: red;
	color: white;
}

.error:hover
{
	background-color: white;
	color: red;
}

.error:first-child, .success:first-child
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.error:last-child, .success:last-child
{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.success
{
	background-color: green;
	color: white;
}

.success:hover
{
	background-color: white;
	color: green;
}

.messages
{
	margin: 5px;
	position: relative;
	text-align: center;
	margin-bottom: -10px;
	border: 1px solid white;
	box-shadow: 2px 2px 2px 2px black;
	border-radius: 20px;
}

/* ALIGNMENT */
.left
{
	text-align: left;
}
.center
{
	text-align: center;
}
.right
{
	text-align: right;
}

.slider
{
	display: block;
	text-align: center;
	width: 200px;
}

.field
{
	height: 50px;
}
/* below JAviers css additions. please change if wanted or needed*/
.oppattr{
	padding: 0;
	background-color: blue;
	color: white;
	border-radius: 10px;
	border: none;
	font-weight: bold;
}
.oppattr:hover{
	background-color: springgreen;
	color: black;
}
.userattr{
	font-size: .4em;
	padding: 0;
	font-weight: bold;
	background-color: transparent;
	border: none;
	font-size: .5em;
}
.loadgraphs{
	display: block;
	font-size: .3em;;
	margin: 5px auto;
	background: linear-gradient(#006600,#003300);
	background-color: #006600;
	border: 1px solid #006600;
	color: white;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	text-align: center;
}
.loadgraphs:hover{
	background: linear-gradient(#FFFFFF,#FFFF88);
	background-color: #FFFF88;
}
#charts{
	min-width: 150px;
	max-width: 400px;
}
.chartdisplay{
	overflow-y: scroll;
	height: 270px;
}