<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Match Options</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login_and_register/css/style.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready( function() {
            var select = $( "#gamePoints" );
            var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
            min: 1,
            max: 21,
            range: "min",
            value: select[ 0 ].selectedIndex + 11,
            slide: function( event, ui ) {
                select[ 0 ].selectedIndex = ui.value - 1;
            }
            });
            var s = "";
            for(var i=1;i<=21;i++)
            {
                if(i==10)
                    s += '<option selected>'+i+'</option>';
                else
                    s += '<option>'+i+'</option>';
            }
            $("#gamePoints").html(s);
            $("#gamePoints").on( "change", function() {
                slider.slider( "value", this.selectedIndex + 1 );
            });
            // Jquery Javier for oppenent charts hidden values from selected opponent
            $(function() {
                var oppid = $('#opp_id');
                oppid.change(function() {
                    $('.opponentid').val(oppid.val());
                });
            });
            $(function(){
                var selectOptions;
                if(localStorage.getItem("selectedOptions")){
                    selectOptions = JSON.parse(localStorage.getItem("selectedOptions"));
                    Object.keys(selectOptions).forEach(function(select){
                        $("select[name="+select+"").val(selectOptions[select]);
                    });
                } else{
                    selectOptions = {};
                }
                $("select").change(function(){
                    var $this = $(this),
                        selectName = $this.attr("name");
                    selectOptions[selectName] = $this.val();
                    localStorage.setItem("selectedOptions", JSON.stringify(selectOptions));
                })
            })
            // below jquery for show and hiding charts when hovered 
            $(function(){

                $("#skill").click(function(){
                    $("#skillchart").show();
                    $("#expchart").hide();
                    $("#pointschart").hide();
                    $("#ratiochart").hide();
                    return false;
                })
            })
            $(function(){
                $("#exp").click(function(){
                    $("#skillchart").hide();
                    $("#expchart").show();
                    $("#pointschart").hide();
                    $("#ratiochart").hide();
                    return false;
                })
            })
            $(function(){
                $("#points").click(function(){
                    $("#skillchart").hide();
                    $("#expchart").hide();
                    $("#pointschart").show();
                    $("#ratiochart").hide();
                    return false;
                })
            })
            $(function(){
                $("#ratio").click(function(){
                    $("#skillchart").hide();
                    $("#expchart").hide();
                    $("#pointschart").hide();
                    $("#ratiochart").show();
                })
            })
            // end of Javier edits
        });

        function revealSkill(menu) {
            var skill = document.getElementById(menu.value).getAttribute("data-skill");
            var name = document.getElementById(menu.value).getAttribute("data-name");
            if(name === '')
                name = "Player"
            document.getElementById("skill-level").innerHTML = name+"'s skill-level is "+skill;
        }
    </script>
    <style>
        body
        {
            background: url('{% static 'login_and_register/img/ping_pong.png' %}');
        }
    </style>
</head>
<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>     
        {% endfor %}
    </div>
    {% endif %}
    <div class="column width-50">
        <h2>Choose your opponent!</h2>
        <form action="/game/play" method="post" class="column-cell round-top">
            {% csrf_token %}
            <select id="opp_id" name="opp_id" onclick="revealSkill(this)" onchange="revealSkill(this)">
                <option id="dummy" value="dummy" data-skill={{user.skill}} data-name="NPC Opponent">NPC Opponent</option>
                {% for opponent in opponents %}
                    {% if opponent.id == request.session.opp_selected %}
                        <option id={{opponent.id}} value={{opponent.id}} data-skill={{opponent.skill}} data-name={{opponent}} selected>{{opponent}}</option>
                    {% else %}
                        <option id={{opponent.id}} value={{opponent.id}} data-skill={{opponent.skill}} data-name={{opponent}}>{{opponent}}</option>
                    }
                    {% endif %}
                {% endfor %}
            </select>
            <div id="skill-level">&nbsp;</div>
            <div class="">
                <label for="max_points">Minimum points need to win: </label>
                <select name="max_points" id="gamePoints"></select>
            </div>
            <input type="submit" value="Begin Game" class="btn btn-green round width-100">
        </form>
        <div id="charts" class="column-cell">
            <h4>You vs Opponent</h4>
            <h6>(click on button after opponent selected)</h6>
            <form action="/game/opponentcharts" method="POST">
                {% csrf_token %}
                <input class="btn btn-green round" type="submit" value="Load Graphs">
                <input class="opponentid" type="hidden" name="opponentid" value= "dummy">
            </form>
            <form id="skill" method="POST">
                {% csrf_token %}
                <input id="get-skill" class="btn round-left-tiny" type="submit" value="Skill">
            </form>
            <form id="exp" method="POST">
                {% csrf_token %}
                <input id="get-exp" class="btn btn-blue" type="submit" value ="Exp">
            </form>
            <form id="points" method="POST">
                {% csrf_token %}
                <input id="get-points" class="btn btn-blue" type="submit" value = "Total Points">
            </form>
            <form id="ratio" method="POST">
                {% csrf_token %}
                <input id="get-ratio" class="btn btn-blue round-right-tiny" type="submit" value= "Win Ratio">
            </form>
            <div class="chartdisplay">
                <div class="oppcharts">
                    <embed class="btn round width-100" id="skillchart" src= "{% static 'simgame/img/opponentskillchart.svg' %}">
                    <embed class="btn round width-100" id="expchart" src= "{% static 'simgame/img/opponentexpchart.svg' %}">
                    <embed class="btn round width-100" id="pointschart" src= "{% static 'simgame/img/opponentpointschart.svg' %}">
                    <embed class="btn round width-100" id="ratiochart" src= "{% static 'simgame/img/opponentratiochart.svg' %}">
                </div>
            </div>
        </div>
        <div class="column-cell">
            <a href="/game/stats"><button class="btn btn-green round">Stats</button></a>
        </div>
        <div class="column-cell round-bottom">
            <a href="/home"><button class="btn btn-red round">Cancel</button></a>
        </div>
    </div>
    <!-- styling needed for Javiers edits below for charts-->
    
        <!-- end of javiers edits -->

    <p>Logged in as <div><strong>{{ user.username }}</strong> ({{ user }})</div></p>

</body>
</html>