<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login &#38; Register Home</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login_and_register/css/style.css' %}">
	<style>
		body
		{
			background: url('{% static 'login_and_register/img/ping_pong.png' %}');
		}
	</style>
</head>
<body>

	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>		
		{% endfor %}
	</div>
	{% endif %}

	<div class="column width-67">
		<div class="column-cell round-top">
			<h1>Your Profile</h3>
		</div>
		<div class="column-cell">
			<table class="horizontal">
				<tr>
					<th>Skill</th>
					<th>Experience</th>
					<th>Total Points</th>
					<th>Wins/Losses</th>
				</tr>
				<tr>
					<!-- adding in forms for selected attribute on user dashboard -->
					<form action="/userskillchart" method="POST">
						{% csrf_token %}
					<td class="userattr"><input class="userattr" type="submit" value = {{user.skill}}></td>
					</form>
					<form action="/userexpchart" method="POST">
						{% csrf_token %}
					<td class="userattr"><input class="userattr" type="submit" value = {{user.experience }}></td>
					</form>
					<form action="/userpointschart" method="POST">
						{% csrf_token %}
					<td class="userattr"><input class="userattr" type="submit" value = {{user.totalscore }}></td>
					</form>
					<form action="/userwinratiochart" method="POST">
						{% csrf_token %}
					<td class="userattr"><input class="userattr" type="submit" value= {{ wins }}/{{ losses }}></td>
					</form>
				</tr>
			</table>
			<embed src= "{% static 'login_and_register/img/userchart.svg' %}">
			<table class="vertical">
				<tr>
					<th>Skill</th>
					<td>{{ user.skill }}</td>
				</tr>
				<tr>
					<th>Experience</th>
					<td>{{ user.experience }}</td>
				</tr>
				<tr>
					<th>Total Points</th>
					<td>{{ user.totalscore }}</td>
				</tr>
				<tr>
					<th>Wins/Losses</th>
					<td>{{ wins }}/{{ losses }}</td>
				</tr>
			</table>
		</div>
		<div class="column-cell round-bottom">
			<h2>All Other Players</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<form class="userattr" action="/alloppskillchart" method="POST">
							{% csrf_token %}
						<th class="userattr"><input class="userattr" type="submit" value = "Skill"></th>
						</form>
						<form class="userattr" action="/alloppexpchart" method="POST">
							{% csrf_token %}
						<th class="userattr"><input class="userattr" type="submit" value = "Exp"></th>
						</form>
						<form class="userattr" action="/allopp_pointschart" method="POST">
							{% csrf_token %}
						<th class="userattr"><input class="userattr" type="submit" value = "Total Points"></th>
						</form>
					</tr>
				</thead>
				{% for opponent in opponents %}
				<tbody>
					<tr>
						<th>{{ opponent }}</th>
						<td>{{ opponent.skill }}</td>
						<td>{{ opponent.experience }}</td>
						<td>{{ opponent.totalscore }}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
			<embed src= "{% static 'login_and_register/img/alloppchart.svg' %}">
		</div>
	</div>

	<div class="column width-33">
		<a href="/game"><input type="submit" class="btn btn-green round-top width-100" value="Play Game"></button></a><a href="/logout"><input type="submit" class="btn btn-red round-bottom width-100" value="Log Out"></button></a>
		<div class="column-cell round">
			Log goes here....
		</div>
	</div>

	<p>Logged in as <div><strong>{{ user.username }}</strong> ({{ user }})</div></p>

</body>
</html>