<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login &#38; Register</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login_and_register/css/style.css' %}">
	<style>
		body
		{
			background: url('{% static 'login_and_register/img/ping_pong.png' %}');
		}
	</style>
</head>
<body>

	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>		
		{% endfor %}
	</div>
	{% endif %}


	<div class="column width-67">
		<div class="column-cell round-top">
			<h1>Success!<br>Welcome, {{ user }}!</h1>
		</div>
		<div class="column-cell round-bottom">
			<a href="./">Go Dashboard</a>
		</div>
	</div>

</body>
</html>